.form {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 1.25rem;
  transition: 1s;
  gap: 0.625rem;
}

.form textarea {
  transition: 0.3s;
  width: calc(100% - 6.875rem);
  border: none;
  resize: none;
}

.form textarea.focus {
  outline: none;
  width: 100%;
}

.form .button {
  margin: 0 0 0 auto;
  padding: 0.625rem 0.9375rem;
  border-radius: 50px;
}
