.comment {
  padding: 0.9375rem 0.3125rem 1.25rem;
}

li:not(:last-child) .comment {
  border-bottom: 1px solid #ddd;
}

.comment_top {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.comment_info {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.4688rem;
}

.username {
  color: #999;
  font-size: 0.875rem;
  margin: 0 0 0 0.1875rem;
}

.date {
  color: #999;
  font-size: 0.875rem;
}
