.header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;

  background: #fff;
  border-bottom: 1px solid #ddd;

  height: 3.75rem;

  display: flex;
  align-content: center;
  justify-content: space-between;
}
.headerwrap {
  padding: 0 1.875rem;
}
.logout {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 0.875rem;
  color: unset;
}
@media (max-width: 64rem) {
  .headerwrap {
    padding: 0;
  }
}
