.form {
  background: #fff;
  border-radius: 0.625rem;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 0.625rem;
  margin: 0 0 1.875rem;
  padding: 0.9375rem;
  font-family: p;
}

.form input {
  width: 100%;
  background: #fff;
  border: none;
  padding: 0.9375rem;
  border-radius: 0.625rem;
}

input[name="price"] {
  background: #f6f6f6;
}

textarea[name="content"] {
  width: 100%;
  overflow: auto;
  padding: 0.9375rem;
  border: none;
  resize: none;
  outline: none;
}
.button {
  padding: 0.625rem 1.25rem !important;
  display: inline;
}
