.article {
  display: flex;
  flex-flow: column;
  position: relative;
}

.background {
  border-radius: 10px;
  padding: 0.9375rem 0.625rem 1.5625rem 1.25rem;
  background: #fff;
  width: 100%;
}

.top {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 0 0 0.9375rem;
}

.amount {
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  border-radius: 5px;
  background: #eee;
  margin: 0 0.625rem 0 0;
}

.userinfo {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.username {
  color: #bbb;
  font-size: 0.875rem;
  margin: 0 0 0 0.1875rem;
  font-weight: 300;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.3125rem 0.625rem;
  border-radius: 5px;

  display: flex;
  flex-flow: row;
  gap: 0.625rem;
}

.edit button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.form input[name="amount"] {
  background: #f7f7f7;
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: none;
}

.form textarea[name="detail"] {
  outline: none;
  resize: none;
  width: 100%;
  padding: 0.625rem;
  border: none;
}

.form .modify,
.form .cancel {
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.4688rem;
}
.form .modify {
  margin: 0 0.4688rem 0 auto;
}
.form .cancel {
  background: #bbb;
}
.form .cancel:hover {
  background: #ccc;
}
