.form {
  background: #fff;
  border-radius: 0.625rem;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 0.625rem;
  margin: 0 0 1.25rem;
  padding: 0.9375rem;
  font-family: p;
}

.form input {
  width: 100%;
  background: #fff;
  border: none;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.form input[name="amount"] {
  background: #f6f6f6;
}

.form input[name="amount"]::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form textarea[name="detail"] {
  width: 100%;
  overflow: auto;
  padding: 0 0.625rem;
  border: none;
  resize: none;
  outline: none;
}
.form .button {
  padding: 0.625rem 1.25rem;
  display: inline;
  border-radius: 50px;
}
