.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .logout,
.content .error {
  width: 90%;
  max-width: 37.5rem;
  padding: 3.125rem 0.625rem;
  margin: 1.875rem auto;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #ddd;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.content .flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.625rem;
  margin: 1.25rem 0 0;
}
.content .login {
  border-radius: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;

  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.login .section {
  background: #f7f7f7;
  width: 70%;
  padding: 1.875rem;
}
.content h1 {
  font-size: 1.5rem;
  margin: 0 0 0.9375rem;
}
.comment_form {
  background: #fff;
  border-radius: 10px;
  margin: 1.25rem 0 0;
  padding: 0.9375rem 1.25rem;
}

@media (max-width: 64rem) {
  .content .login {
    width: 100% !important;
    border-left: none;
    border-right: none;
  }

  .login .section {
    background: #f7f7f7;
    min-height: calc(100vh - 3.75rem);
    width: 100%;
    height: 100%;
    padding: 5%;
  }
}
