.sidemenu {
  padding: 1.875rem;
  width: 30%;
  height: calc(100vh - 3.75rem);
  border-right: 1px solid #ddd;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: sticky;
  top: 3.75rem;
}
@media (max-width: 64rem) {
  .sidemenu {
    display: none;
    z-index: 9999;
    width: 70%;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid #ddd;
    border-right: none;
  }
}
